@import 'css/jango_variables';

body {
	line-height: normal;
}

/* Dropdown menu */


.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: $couleur_principale;
}

/* Admin block, avoids conflict with topbar */
.spip-admin-bloc,
.spip-admin-float {
	right: 0!important;
	top: 10%!important;
	transform-origin:100% 100%;
	transform: rotate(-90deg);
}

/* conflict with icons */
[class^="icon-"],
[class*=" icon-"] {
	display: initial;
	width: auto;
	height: auto;
	line-height: 1;
	vertical-align: initial;
	background-image: none;
	margin-top: 0;
}

.navbar-nav > li > a {
	line-height: 20px;
}

ul:not(.spip), ol:not(.spip) {
	margin-left: 0;
}

.c-layout-footer a {
	color: #5c6873;
}


@media (min-width: 1200px) {
	ul:not(.spip), ol:not(.spip) {
		margin-left: 0;
	}
}

@media (min-width: 992px) {
	.c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
		height: 78px;
	}
}