@import 'css/variables';
@import 'css/jango_variables';

body {
	line-height: normal;
}

/* Flex box */

.d-flex {
	display: flex
}

.flex-wrap-nowrap {
	flex-wrap: nowrap;
}

.flex-wrap-wrap {
	flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
	flex-wrap: wrap-reverse;
}

.justify-content-start {
	justify: flex-start;
}

/* Dropdown menu */
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: $couleur_principale;
}

/* Admin block, avoids conflict with topbar */
.spip-admin-bloc,
.spip-admin-float {
	right: 0!important;
	top: 10%!important;
	transform-origin:100% 100%;
	transform: rotate(-90deg);
}

/* conflict with icons */
[class^="icon-"],
[class*=" icon-"] {
	display: initial;
	width: auto;
	height: auto;
	line-height: 1;
	vertical-align: initial;
	background-image: none;
	margin-top: 0;
}

.navbar-nav > li > a {
	line-height: 20px;
}

ul:not(.spip), ol:not(.spip) {
	margin-left: 0;
}

.c-layout-footer a {
	color: #5c6873;
}


@media (min-width: @screen-lg-min) {
	ul:not(.spip), ol:not(.spip) {
		margin-left: 0;
	}

	/* Flex box */
	.d-lg-flex {
		display: flex;
	}
}


@media (min-width: @screen-md-min) {
	.c-layout-header.c-layout-header-6 .c-quick-search > .form-control {
		height: 78px;
	}
}

